<h1>Fortunes</h1>

<div class="fortunes">
  <% @fortunes.each do |fortune| %>
    <div class="callout success">
      <%= fortune.content %>
    </div>
  <% end %>
</div>

<hr />

<h3>New Fortune</h3>
<%= form_for :fortune, html: { id: :new_fortune } do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
