<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Fortune Teller</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row main">
      <div class="small-6 small-offset-3 columns">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
